<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Test Your Skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>



    <form (ngSubmit)="submit()">
      <ion-card *ngFor="let question of questions">
        <ion-card-header>
          <ion-card-subtitle>Question {{question.id}} of 10</ion-card-subtitle>
          <ion-card-title>{{question.figure}} <br><br> {{question.question}}</ion-card-title>
          <div [innerHTML]="question.status | noSanitize"></div>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="question.answer">
              <ion-list-header>
                <ion-label>Answer</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label>{{question.choices[0].value}}</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>{{question.choices[1].value}}</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>{{question.choices[2].value}}</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>{{question.choices[3].value}}</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-radio-group>

          </ion-list>
        </ion-card-content>

      </ion-card>

      <ion-button type="submit">Finish</ion-button>
    </form>
  </ion-grid>


</ion-content>
