<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Do Your Best!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-card-title>Before You Begin</ion-card-title>

      </ion-item>
    </ion-card-header>

    <ion-card-content>
      Be sure to answer all questions as best as possible!


    </ion-card-content>
    <ion-item>
      <ion-button fill="outline" slot="end" (click)="startTest()">Begin
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/', 'subject']" expand="full" color="primary">Back</ion-button>
  </ion-toolbar>
</ion-footer>