<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          QuickSAT
        </ion-title>
      </ion-toolbar>
    </ion-header>

  <ion-content >
    <ion-list>
      <ion-menu-toggle>
        <!-- set to results page -->
        <ion-item lines="none" routerLink=""> 
          <ion-icon name="construct" slot="start"></ion-icon>
          <ion-label>Check Progress</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/subject">
          <ion-icon name="bulb" slot="start"></ion-icon>
          <ion-label>Subjects</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/login">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
